cat > /opt/app/bin/envs/services.env << SERVICES_EOF
{{- $myRole := getv "/host/role" }}
SERVICES="$( echo "
{{- if eq $myRole "kafka" }}kafka/true/tcp:9092{{- end}}   
{{- if eq $myRole "kafka-manager"}}kafka-manager/true/http:{{ getv "/env/kafka-manager.port" "9000"}}{{- end}}
caddy/true/tcp:80
zabbix-agent/{{ getv "/env/zabbix.agent.enable" "false" }}/tcp:{{ getv "/env/zabbix.agent.port" "10050"}}" | xargs)"

NODE_CTL="kafka_ctl"
SERVICES_EOF

myPath="$0"
cleanUp() {
  local rc=$?
  [ "$rc" -eq 0 ] || rm -rf "$myPath" # ensure confd can generate it again next time
  return $rc
}

trap cleanUp EXIT