[Unit]
Description=Yahoo Kafka Manager
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target

[Service]
RuntimeDirectory=kafka-manager
PrivateTmp=true
Type=simple
User=kafka
Group=kafka
LimitNOFILE=500000
WorkingDirectory=/data/kafka-manager
EnvironmentFile=/opt/app/conf/kafka-manager/.env
ExecStart=/opt/kafka-manager/current/bin/kafka-manager $KAFKA_MANAGER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
