# fixed params
      log.segment.bytes=1073741824
      socket.send.buffer.bytes=202400
      num.network.threads=3
      port=9092
      num.recovery.threads.per.data.dir=1
      log.dirs=/data/kafka/kafka-logs
      log.flush.interval.messages=10000
      zookeeper.connection.timeout.ms=6000
      log.retention.check.interval.ms=300000
      zookeeper.session.timeout.ms=6000
      log.flush.interval.ms=1000
      replica.fetch.max.bytes=1000000

      # params input by user
      {{range gets "/env/*"}}{{$v := .Value}}{{ if gt ( len ( $v ) ) 0 }}
      {{base .Key}}={{.Value}}{{end}}{{end}}

      # dependency
      {{if exists "/links/zk_service/cluster/endpoints/client/port"}}{{$port := getv "/links/zk_service/cluster/endpoints/client/port"}}
      zookeeper.connect={{range $i, $host := ls (printf "/links/zk_service/hosts")}}{{$ip := printf "/links/zk_service/hosts/%s/ip" $host}}{{if $i}},{{end}}{{getv $ip}}:{{$port}}{{end}}/kafka/{{getv "/cluster/cluster_id"}}
      {{else}}
      zookeeper.connect={{range $i, $host := ls (printf "/links/zk_service/hosts")}}{{$ip := printf "/links/zk_service/hosts/%s/ip" $host}}{{if $i}},{{end}}{{getv $ip}}:2181{{end}}/kafka/{{getv "/cluster/cluster_id"}}
      {{end}}

      # self
      host.name={{getv "/host/ip"}}
      {{$ahost := getv "/env/advertised.host.name"}}{{ if le ( len ( $ahost ) ) 0 }}advertised.host.name={{getv "/host/ip"}}{{end}}
