#!/usr/bin/env bash

set -eo pipefail

{{- $rolesMap := map "kafka" "kafka" "client" "kafka-manager" }}
{{- $myRole := index $rolesMap (getv "/host/role") }}

cat > /opt/app/bin/.env << APP_ENV_EOF
MY_IP={{ getv "/host/ip" }}
MY_ROLE={{ $myRole }}
MY_PORTS="{{ if eq $myRole "kafka" }}{{ getv "/env/advertised.port" "9092" }}{{ else }}{{ getv "/env/kafka-manager.port" "9000" }} 8125 9999{{ end }}"
APP_ENV_EOF

myPath="$0"
cleanUp() {
  local rc=$?
  [ "$rc" -eq 0 ] || rm -rf "$myPath" # ensure confd can generate it again next time
  return $rc
}

trap cleanUp EXIT
