#!/usr/bin/env bash

set -eo pipefail

{{- $rolesMap := map "kafka" "kafka" "client" "kafka-manager" }}
{{- $myRole := index $rolesMap (getv "/host/role") }}
{{- $myIp := getv "/host/ip" }}
{{- $zkPort := getv "/links/zk_service/cluster/endpoints/client/port" "2181" }}

cat > /opt/app/bin/.env << APP_ENV_EOF
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
MY_IP={{ getv "/host/ip" }}
MY_ROLE={{ $myRole }}
MY_PORT="{{ if eq $myRole "kafka" }}9092{{ else }}{{ getv "/env/kafka-manager.port" "9000" }}{{ end }}"
EXTRA_SVCS="caddy"
EXTRA_PORTS="80{{ if eq $myRole "kafka" }} 9999{{ end }}"
zabbix_enable={{ getv "/env/zabbix.enable" }}
{{- if eq $myRole "kafka-manager" }}
WEB_USER="{{ getv "/env/kafka-manager.basicAuthentication.username" }}"
WEB_PASSWORD="{{ getv "/env/kafka-manager.basicAuthentication.password" }}"

{{- $clusterId := getv "/cluster/cluster_id" }}
{{- $zkHosts := getvs "/links/zk_service/hosts/*/ip" }}
ZK_HOSTS={{ range $i, $ip := $zkHosts }}{{ if $i }},{{ end }}{{ $ip }}:{{ $zkPort }}{{ end }}/kafka/{{ $clusterId }}
{{- end }}
APP_ENV_EOF

myPath="$0"
cleanUp() {
  local rc=$?
  [ "$rc" -eq 0 ] || rm -rf "$myPath" # ensure confd can generate it again next time
  return $rc
}

trap cleanUp EXIT
