cat > /opt/app/bin/services.env << SERVICES_EOF

SERVICES="caddy/true/tcp:80
		  zabbix-agent/{{ getv "/env/zabbix.agent.enable" "false" }}/tcp:{{ getv "/env/zabbix.agent.port" "10050"}}
		  {{- if eq $myRole "kafka" }}kafka/true/tcp:9092{{- end}}
		  {{- if eq $myRole "kafka-manager"}}kafka-manager/true/tcp:{{ getv "/env/kafka-manager.port" "9000"}}{{- end}}"
SERVICES_EOF