{{- if eq $myRole "kafka" }}

{{- $halfMemory := div (getv "/host/memory") 2 }}
{{- $heapSize := min $halfMemory 6144 }}

cat > /opt/app/conf/kafka/.env << KAFKA_ENV_EOF
JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
LOG_DIR=/data/kafka/logs
KAFKA_GC_LOG_OPTS="$(echo "
-verbose:gc
-Xloggc:/data/kafka/logs/gc.log
-XX:+UseGCLogFileRotation
-XX:NumberOfGCLogFiles=20
-XX:GCLogFileSize=2M
-XX:+PrintGCDetails
-XX:+PrintGCTimeStamps
-XX:+PrintGCDateStamps
-XX:+PrintClassHistogram
-XX:+PrintTenuringDistribution
-XX:+PrintGCApplicationStoppedTime
" | xargs)"
KAFKA_HEAP_OPTS="$(echo "
-Xms{{ $heapSize }}m
-Xmx{{ $heapSize }}m
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/data/kafka/dump/dump.hprof
" | xargs)"
KAFKA_LOG4J_OPTS="-Dlog4j.configuration=file:/opt/app/conf/kafka/log4j.properties"
KAFKA_JMX_OPTS="$(echo "
-Dcom.sun.management.jmxremote
-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.ssl=false
-Djava.rmi.server.hostname={{ getv "/host/ip" }}
" | xargs)"
JMX_PORT=9999
EXTRA_ARGS='-name kafka'
KAFKA_ENV_EOF

{{- end }}
