{{- if eq $myRole "kafka-manager" }}

encrypted=$(echo -n {{ getv "/cluster/cluster_id" }}{{ getv "/cluster/user_id" }} | sha256sum | base64)

cat > /opt/app/conf/kafka-manager/application.conf << APP_CONF_EOF
play.http.secret.key="${encrypted:0:65}"
play.http.secret.key=\${?APPLICATION_SECRET}

# The application languages
# ~~~~~
play.i18n.langs=["en"]

play.application.loader=loader.KafkaManagerLoader
play.http.requestHandler = "play.http.DefaultHttpRequestHandler"
play.http.context = "/"

# dependency
kafka-manager.consumer.properties.file=/opt/app/conf/kafka-manager/consumer.properties
kafka-manager.zkhosts="{{ range $i, $p := getvs "/links/zk_service/hosts/*/ip" }}
  {{- if $i }},{{ end }}
  {{- . }}:{{ getv "/links/zk_service/cluster/endpoints/client/port" "2181" }}
{{- end }}/kafka/{{ getv "/cluster/cluster_id" }}"
kafka-manager.base-zk-path="/kafka-manager"
pinned-dispatcher.type="PinnedDispatcher"
pinned-dispatcher.executor="thread-pool-executor"
application.features=["KMClusterManagerFeature","KMTopicManagerFeature","KMPreferredReplicaElectionFeature","KMReassignPartitionsFeature"]

akka {
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  loglevel = "WARNING"
}

{{- range gets "/env/kafka-manager.basic*" }}
{{ replace (base .Key) "kafka-manager." "" -1 }}="{{ .Value }}"
{{- end }}
basicAuthentication.realm="Kafka-Manager"
http.port={{ getv "/env/kafka-manager.port" }}
APP_CONF_EOF

{{- end }}
