#!/usr/bin/env bash

set -eo pipefail

cat > /etc/zabbix/zabbix_agentd.conf << ZABBIX_EOF
PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/data/zabbix/zabbix_agentd.log
LogFileSize=20
Server={{getv "/env/zabbix.server.ip" "127.0.0.1"}}
ListenPort={{getv "/env/zabbix.agent.port" "10050"}}
Hostname=system.hostname
Include=/etc/zabbix/zabbix_agentd.d/*.conf
UnsafeUserParameters=1
RefreshActiveChecks=120  
DebugLevel=3

ZABBIX_EOF