{
  "name": {{cluster.name}},
  "description": {{cluster.description}},
  "vxnet": {{cluster.vxnet}},
  "links": {
    "zk_service": {{cluster.zk_service}}
  },
  "multi_zone_policy": "round_robin",
  "upgrade_policy": [
    "appv-7o37pk3b",
    "appv-3w7cnjir",
    "appv-vx6yl2x5",
    "appv-t2pkfxjs"  
  ],
  "upgrading_policy": "parallel",
  "nodes": [{
    "role":"kafka",
    "container": {
      "type": "lxc",
      "zone": "sh1a",
      "image": "img-bblgd1dq"
    },
    "instance_class": {{cluster.kafka.instance_class}},
    "count": {{cluster.kafka.count}},
    "cpu": {{cluster.kafka.cpu}},
    "memory": {{cluster.kafka.memory}},
    "volume": {
      "size": {{cluster.kafka.volume_size}},
      "mount_point": "/data",
      "filesystem": "xfs"
    },
    "services": {
      "start": {
        "cmd": "appctl execute start",
        "order": 1
      },
      "stop": {
        "cmd": "appctl execute  stop",
        "order": 2
      },
      "restart": {
        "cmd": "appctl execute  restart"
      }
    },
    "advanced_actions": ["change_vxnet", "scale_horizontal", "associate_eip"],
    "vertical_scaling_policy": "sequential",
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 30,
      "healthy_threshold": 2,
      "unhealthy_threshold": 2,
      "check_cmd": "appctl execute  check",
      "action_cmd": "appctl execute  revive"
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "heap_usage": {
          "unit": "%"
        },
        "MessagesInPerSec_1MinuteRate": {
          "unit": "count/sec"
        },
        "BytesInPerSec_1MinuteRate": {
          "unit": "bps"
        },
        "BytesOutPerSec_1MinuteRate": {
          "unit": "bps"
        },
        "Replica_MaxLag": {
        "unit": "count"
        },
        "IsrExpandsPerSec_1MinuteRate": {
          "unit": "count/sec"
        },
        "KafkaController_ActiveControllerCount": {
          "unit": "count"
        },
        "KafkaController_OfflinePartitionsCount": {
          "unit": "count"
        }
      },
      "groups": {
        "Message Throughput": ["MessagesInPerSec_1MinuteRate"],
        "Data Throughput": ["BytesInPerSec_1MinuteRate", "BytesOutPerSec_1MinuteRate"],
        "Replica MaxLag": ["Replica_MaxLag"],
        "Isr Expansion Rate": ["IsrExpandsPerSec_1MinuteRate"],
        "Management Statistics": ["KafkaController_ActiveControllerCount","KafkaController_OfflinePartitionsCount"]
      },
      "display": ["heap_usage", "Message Throughput", "Data Throughput","Replica MaxLag","Isr Expansion Rate","Management Statistics"],
      "alarm": ["heap_usage","Replica_MaxLag"]
    }
  }, {
    "role":"client",
    "user_access": true,
    "container": {
      "type": "kvm",
      "zone": "sh1a",
      "image": "img-bblgd1dq"
    },
    "instance_class": {{cluster.client.instance_class}},
    "count": {{cluster.client.count}},
    "cpu": {{cluster.client.cpu}},
    "memory": {{cluster.client.memory}},
    "volume": {
      "size": {{cluster.client.volume_size}},
      "mount_point": "/data",
      "filesystem": "xfs"
    },
    "services": {
      "start": {
        "cmd": "appctl execute start",
        "order": 2
      },
      "stop": {
        "cmd": "appctl execute stop",
        "order": 1
      },
      "restart": {
        "cmd": "appctl execute restart"
      }
    },
    "advanced_actions": ["change_vxnet", "scale_horizontal", "associate_eip"],
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 30,
      "healthy_threshold": 2,
      "unhealthy_threshold": 2,
      "check_cmd": "appctl execute check",
      "action_cmd": "appctl execute revive"
    }
  }],
  "env": {
    "replica.lag.time.max.ms": {{env.replica.lag.time.max.ms}},
    "group.max.session.timeout.ms": {{env.group.max.session.timeout.ms}},
    "group.min.session.timeout.ms": {{env.group.min.session.timeout.ms}},
    "zabbix.server.ip": {{env.zabbix.server.ip}},
    "zabbix.agent.port": {{env.zabbix.agent.port}},
    "zabbix.agent.enable": {{env.zabbix.agent.enable}},
    "advertised.host.name": {{env.advertised.host.name}},
    "advertised.port": {{env.advertised.port}},
    "auto.create.topics.enable": {{env.auto.create.topics.enable}},
    "compression.type": {{env.compression.type}},
    "default.replication.factor": {{env.default.replication.factor}},
    "delete.topic.enable": {{env.delete.topic.enable}},
    "log.cleaner.enable": {{env.log.cleaner.enable}},
    "log.cleanup.policy": {{env.log.cleanup.policy}},
    "log.retention.bytes": {{env.log.retention.bytes}},
    "log.retention.hours": {{env.log.retention.hours}},
    "log.roll.hours":{{env.log.roll.hours}},
    "log.segment.bytes":{{env.log.segment.bytes}},
    "log.segment.delete.delay.ms":{{env.log.segment.delete.delay.ms}},
    "message.max.bytes": {{env.message.max.bytes}},
    "num.network.threads": {{env.num.network.threads}},
    "num.io.threads": {{env.num.io.threads}},
    "num.partitions": {{env.num.partitions}},
    "num.recovery.threads.per.data.dir": {{env.num.recovery.threads.per.data.dir}},
    "num.replica.fetchers": {{env.num.replica.fetchers}},
    "offsets.topic.replication.factor": {{env.offsets.topic.replication.factor}},
    "queued.max.requests": {{env.queued.max.requests}},
    "socket.receive.buffer.bytes": {{env.socket.receive.buffer.bytes}},
    "socket.send.buffer.bytes": {{env.socket.send.buffer.bytes}},
    "unclean.leader.election.enable": {{env.unclean.leader.election.enable}},
    "kafka-manager.basicAuthentication.enabled": {{env.kafka-manager.basicAuthentication.enabled}},
    "kafka-manager.basicAuthentication.username": {{env.kafka-manager.basicAuthentication.username}},
    "kafka-manager.basicAuthentication.password": {{env.kafka-manager.basicAuthentication.password}},
    "kafka-manager.port": {{env.kafka-manager.port}}
  },
  "endpoints": {
    "client": {
      "port": "env.advertised.port",
      "protocol": "tcp"
    },
    "kafka-manager": {
      "port": "env.kafka-manager.port",
      "protocol": "http"
    },
    "jmx": {
      "port": 9999,
      "protocol": "tcp"
    },
    "monitor": {
      "port": 8125,
      "protocol": "udp"
    }
  }
}
