[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
Group=kafka
LimitNOFILE=500000
LimitFSIZE=infinity
EnvironmentFile=/opt/app/conf/kafka/.env
ExecStart=/opt/kafka/current/bin/kafka-server-start.sh /opt/app/conf/kafka/server.properties
ExecStop=/opt/kafka/current/bin/kafka-server-stop.sh

CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
