{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "links": {
        "zk_service": {{cluster.zk_service}}
    },
    "nodes": [{
        "container": {
            "type": "kvm",
            "zone": "sh1a",
            "image": "img-e8872u05"
        },
        "instance_class": {{cluster.nodes.instance_class}},
        "count": {{cluster.nodes.count}},
        "cpu": {{cluster.nodes.cpu}},
        "memory": {{cluster.nodes.memory}},
        "volume": {
          "size": {{cluster.nodes.volume_size}},
          "mount_point": "/data",
          "filesystem": "ext4"
        },
        "services": {
          "init": {
               "nodes_to_execute_on": 1,
               "post_start_service": true,
               "cmd": "/opt/kafka-manager/bin/kafka-manager_autoConfig.sh"
           },
            "start": {
                "cmd": "/opt/kafka/bin/kafka-start.sh;nohup /opt/kafka-manager/bin/kafka-manager -Dconfig.file=/opt/kafka-manager/conf/application.conf >/opt/kafka-manager/logs/kafka-manager.log 2>&1 &"
            },
            "stop": {
                "cmd": "/opt/kafka-manager/bin/kafka-manager-stop.sh;/opt/kafka/bin/kafka-server-stop.sh"
            }
        },
        "advanced_actions": ["change_vxnet", "scale_horizontal"],
         "vertical_scaling_policy": "sequential"
    }],
    "env": {
        "log.retention.bytes": {{env.log_retention_bytes}},
        "log.retention.hours": {{env.log_retention_hours}},
        "log.segment.bytes":{{env.log_segment_bytes}},
        "log.segment.delete.delay.ms":{{env.log_segment_delete_delay_ms}},
        "log.roll.hours":{{env.log_roll_hours}},
        "auto.create.topics.enable": {{env.auto_create_topics_enable}},
        "default.replication.factor": {{env.default_replication_factor}},
        "delete.topic.enable": {{env.delete_topic_enable}},
        "log.cleaner.enable": {{env.log_cleaner_enable}},
        "message.max.bytes": {{env.message_max_bytes}},
        "num.io.threads": {{env.num_io_threads}},
        "num.partitions": {{env.num_partitions}},
        "num.replica.fetchers": {{env.num_replica_fetchers}},
        "queued.max.requests": {{env.queued_max_requests}},
        "socket.receive.buffer.bytes": {{env.socket_receive_buffer_bytes}},
        "socket.send.buffer.bytes": {{env.socket_send_buffer_bytes}},
        "advertised.host.name": {{env.advertised_host_name}},
        "advertised.port": {{env.advertised_port}},
        "kafka-manager.basicAuthentication.enabled": {{env.kafka-manager_basicAuthentication_enabled}},
        "kafka-manager.basicAuthentication.username": {{env.kafka-manager_basicAuthentication_username}},
        "kafka-manager.basicAuthentication.password": {{env.kafka-manager_basicAuthentication_password}},
        "kafka-manager.port": {{env.kafka-manager_port}}
    },
    "endpoints": {
        "client": {
            "port": "env.advertised.port",
            "protocol": "tcp"
        },
        "kafka-manager": {
            "port": "env.kafka-manager.port",
            "protocol": "http"
        }
        ,
        "jmx": {
            "port": 9999,
            "protocol": "tcp"
        }
        ,
        "monitor": {
            "port": 8125,
            "protocol": "udp"
        }

    },
    "health_check": {
        "enable": true,
        "interval_sec": 60,
        "timeout_sec": 10,
        "action_timeout_sec": 30,
        "healthy_threshold": 2,
        "unhealthy_threshold": 2,
        "check_cmd": "nc -w 3 -z -u 127.0.0.1 8125 > /dev/null 2>&1",
        "action_cmd": "/opt/kafka/bin/kafka-server-restart.sh"
    },
    "monitor": {
        "enable": true,
        "cmd": "opt/kafka/bin/get-monitor.sh",
        "items": {
          "heap_usage": {
              "unit": "%"
          },
          "MessagesInPerSec_1MinuteRate": {
              "unit": "count/sec"
          },
          "BytesInPerSec_1MinuteRate": {
              "unit": "bps"
          },
          "BytesOutPerSec_1MinuteRate": {
              "unit": "bps"
          },
        "Replica_MaxLag": {
            "unit": "count"
        },
        "ReplicaManager_PartitionCount": {
            "unit": "count"
        },
        "ReplicaManager_LeaderCount": {
          "unit": "count"
        },
        "ReplicaManager_UnderReplicatedPartitions": {
            "unit": "count"
        },  "IsrExpandsPerSec_1MinuteRate": {
              "unit": "count/sec"
          },
          "IsrShrinksPerSec_1MinuteRate": {
              "unit": "count/sec"
          },
          "KafkaController_ActiveControllerCount": {
              "unit": "count"
          },
          "KafkaController_OfflinePartitionsCount": {
              "unit": "count"
          }
        },
        "groups": {
            "JVM Heap":  ["heap_usage"],
            "Message Throughput": ["MessagesInPerSec_1MinuteRate"],
            "Data Throughput": ["BytesInPerSec_1MinuteRate", "BytesOutPerSec_1MinuteRate"],
            "Replica MaxLag": ["Replica_MaxLag"],
            "Partition Dataistribution": ["ReplicaManager_PartitionCount", "ReplicaManager_LeaderCount","ReplicaManager_UnderReplicatedPartitions"],
            "Isr Expansion Rate": ["IsrExpandsPerSec_1MinuteRate","IsrShrinksPerSec_1MinuteRate"],
            "Management Statistics": ["KafkaController_ActiveControllerCount","KafkaController_OfflinePartitionsCount"]
        },
        "display": ["JVM Heap", "Message Throughput", "Data Throughput","Replica MaxLag","Partition Dataistribution","Isr Expansion Rate","Management Statistics"],
        "alarm": ["heap_usage","Replica_MaxLag"]
    }
}
