cat > /opt/app/bin/envs/appctl.env << APPCTL_ENV_EOF
MY_IP={{ getv "/host/ip" }}
MY_ROLE={{ getv "/host/role" }}
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
EXTRA_SVCS="caddy"
{{- $myRole := getv "/host/role" }}
MY_PORT="{{ if eq $myRole "kafka" }}9092{{ else }}{{ getv "/env/kafka-manager.port" "9000" }}{{ end }}"
EXTRA_PORTS="80{{ if eq $myRole "kafka" }} 9999{{ end }}"
ZABBIX_AGENT_ENABLE={{ getv "/env/zabbix.agent.enable" "false" }}
{{- if eq $myRole "kafka-manager" }}
WEB_USER="{{ getv "/env/kafka-manager.basicAuthentication.username" }}"
WEB_PASSWORD="{{ getv "/env/kafka-manager.basicAuthentication.password" }}"

{{- $clusterId := getv "/cluster/cluster_id" }}
{{- $zkHosts := getvs "/links/zk_service/hosts/*/ip" }}
ZK_HOSTS={{ range $i, $ip := $zkHosts }}{{ if $i }},{{ end }}{{ $ip }}:{{ $zkPort }}{{ end }}/kafka/{{ $clusterId }}
{{- end }}

APPCTL_ENV_EOF

cat > /opt/app/bin/envs/services.env << SERVICES_EOF
{{- $myRole := getv "/host/role" }}
SERVICES="{{- if eq $myRole "kafka" }}kafka/true/tcp:9092{{- end}}
          {{- if eq $myRole "kafka-manager"}}kafka-manager/true/tcp:{{ getv "/env/kafka-manager.port" "9000"}}{{- end}}
          caddy/true/tcp:80
		  zabbix-agent/{{ getv "/env/zabbix.agent.enable" "false" }}/tcp:{{ getv "/env/zabbix.agent.port" "10050"}}"
NODE_CTL="kafka_ctl"
SERVICES_EOF

myPath="$0"
cleanUp() {
  local rc=$?
  [ "$rc" -eq 0 ] || rm -rf "$myPath" # ensure confd can generate it again next time
  return $rc
}

trap cleanUp EXIT