cat > /opt/app/bin/envs/appctl.env << APPCTL_ENV_EOF
MY_IP={{ getv "/host/ip" }}
MY_ROLE={{ getv "/host/role" }}
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
EXTRA_SVCS="caddy"
{{- $myRole := getv "/host/role" }}
MY_PORT="{{ if eq $myRole "kafka" }}9092{{ else }}{{ getv "/env/kafka-manager.port" "9000" }}{{ end }}"
{{- if eq $myRole "kafka-manager" }}
WEB_USER="{{ getv "/env/kafka-manager.basicAuthentication.username" }}"
WEB_PASSWORD="{{ getv "/env/kafka-manager.basicAuthentication.password" }}"

{{- $clusterId := getv "/cluster/cluster_id" }}
{{- $zkHosts := getvs "/links/zk_service/hosts/*/ip" }}
ZK_HOSTS={{ range $i, $ip := $zkHosts }}{{ if $i }},{{ end }}{{ $ip }}:{{ $zkPort }}{{ end }}/kafka/{{ $clusterId }}
{{- end }}

APPCTL_ENV_EOF

myPath="$0"
cleanUp() {
  local rc=$?
  [ "$rc" -eq 0 ] || rm -rf "$myPath" # ensure confd can generate it again next time
  return $rc
}

trap cleanUp EXIT