---
- name: common setup
  hosts: all
  strategy: free

  tasks:
  - include_role:
      name: "{{ service_name }}"
    loop:
    - appctl
    - caddy
    - kafka
    - kafka-manager
    - zabbix-agent
    loop_control:
      loop_var: service_name
